
.os{
    padding: 10px;
    background: #000000;
    color: #ffffff;
    margin-bottom: 10px;
}

.gray-background{
    background-color: gray;
}

body{
    padding-top: 70px;
}
h1, h2, h3, h4, h5, lead{
    font-family: 'Droid Sans';
}
/******************Start Overriding BootStrap*******************/
.navbar{
    min-height: 70px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #BBB;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}

.navbar-inverse .navbar-brand {
    color: #BBB;
    font-size: 30px;
    line-height: 40px;
}


.dropdown-menu{
    background-color: #222;
    min-width: 200px;
}

.navbar-right .dropdown-menu{
    left: 0;
    right:auto;
}

.dropdown-menu > li > a {
    color:#FFF;
    padding: 6px 20px;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 0.5s ease;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
    color: #FFF;
    padding-left: 25px;
}

.dropdown-menu .divider {
    background-color: #B71818;
}

.navbar-toggle{
    margin-top: 18px;
}

/**************Carsoual********/
.carousel-caption{
    bottom: 150px;
    background: rgba(3,3,3,0.3);
    padding-right: 20px;
    padding-left: 20px;
}

.carousel-indicators li{
    height:15px;
    width: 15px;
    border: 1px solid #eee;
}

.carousel-indicators .active{
    width:17px;
    height:17px;
}

/**************Tool Box Section***************/
.tool-box{
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9999;
}
.tool-box .color-option{
    float: left;
    background: #333;
    color: #FFF;
    padding: 10px;
    width: 200px;
    display: none;
}

.tool-box .color-option ul li{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer;
}

.tool-box .gear-check{
    padding: 5px;
    color: #FFF;
    cursor: pointer;
}
/**************Tool Box Section***************/

/**************About Section***************/
.about{
    padding: 60px 0px;
}

.about .lead{
    color: #888;
    font-size: 25px;
    margin-top: 15px;
}

.about h1{
    font-weight: bold;
}

.about h3 span{
    color: #B71818;
}
/**************End About Section***************/

/**************Start Features Section***************/
.features{
    background: #EEE;
    padding: 50px 0px;
}

.features .feat{
    margin-top: 30px;;
}

.features .feat .p{
    line-height: 2em;
}

.features .feat h1{
    margin-bottom: 50px;
}

.features .feat span.glyphicon{
    font-size: 25px;
    margin-bottom: 10px;
    color: #666;
}
/**************End Features Section***************/

/**************Start carousel-testimonials***************/
.testimonials{
    padding-top: 50px;
    padding-bottom: 50;
}
.testimonials h1{
    font-weight: bold;
    margin-bottom:20px;
}

.testimonials .lead{
    line-height: 2rem;
    margin-bottom: 10px;
}

.testimonials span{
    font-size: 18px;
    font-weight: bold;
}

.testimonials .carousel-inner{
    min-height: 120px;
}

.testimonials .carousel-indicators{
    position: static;
    width: 100%;
    margin-left: auto;
}

.testimonials .carousel-indicators li{
    text-indent: 0;
    width: 80px;
    height: 80px;
    opacity: 0.5;
    border: 3px solid #FFF;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.testimonials .carousel-indicators li.active{
    opacity: 1;
    background: none;
}

.testimonials .carousel-indicators li img{
    max-width: 100%;
}
/**************End carousel-testimonials***************/

/**************Price Table***************/
.price_table{
    background: #EEE;
    padding-top: 40px;
    padding-bottom: 40px;
}

.price_table h1{
    margin-bottom: 40px;
}

.price_table .price_box{
    background: #FFF;
    padding: 10px;
    border: 1px solid #DDD;
    margin-bottom: 15px;
}

.price_table .price_box h2{
    margin: 5px 0 15px;
}

.price_table .price_box:hover p{
    -webkit-transform: scale(1.1,1.1) rotate(360deg);
    -moz-transform: scale(1.1,1.1) rotate(360deg);
    -o-transform: scale(1.1,1.1) rotate(360deg);
    transform: scale(1.1,1.1) rotate(360deg);
    border: 2px solid #DFDFDF;
}

.price_table .price_box p{
    font-size: 35px;
    font-weight: bold;
    color: #666;
    width: 100px;
    height: 100px;
    background: #f3f3f3;
    border-radius: 50%;
    border: 2px solid #FFF;
    line-height: 100px;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;

}

.price_table .price_box ul{
    line-height: 250%;
    font-size: 18px;
}

.price_table .price_box a{
    margin-bottom: 5px;
}
/**************End Price Table***************/


/**************Start Our Team***************/
.our_team{
    background: url('../images/ourteam/background.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    min-height: 600px;
}

.our_team .team{
    background: rgba(2, 2, 2, 0.8);
    color: #FFF;
    min-height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.our_team h1{
    margin-bottom: 60px;
}
.our_team .person{
    margin-bottom: 40px;
}
.our_team .person img{
    width: 100%;
}
/**************End Our Team***************/


/**************Start Subscribe***************/
.subscribe{
    padding-top: 40px;
    padding-bottom: 70px;
    background: #EEE;
}

.subscribe h1{
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.subscribe p{
    margin-bottom: 30xp;
}

.subscribe .form-control{
    border-radius: 0;
    margin-right: -5px;
    width: 300px;
}

.subscribe button{
    border-radius: 0px;
}
.subscribe .btn-danger{
    background-color: #e41b17;
    border-color: #e41b17;
}

/**************End Subscribe***************/

/**************Start Statisctics***************/
.statistics{
    background: url('../images/statistics.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    min-height:300px;
}

.statistics .data{
    background: rgba(2, 2, 2, 0.7);
    color: #B6B5B5;
    min-height:300px;
    padding-top:40px;
    padding-bottom:70px;
}

.statistics h1{
    margin-bottom: 60px;
}

.statistics .stats{
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-bottom: 30px;

}

.statistics .stats:hover{
    color: white;
}

.statistics p{
    font-size:60px;
    font-weight: 800;
    margin-bottom: 0;
}
.statistics span{
    font-size: 18px;

}

/**************End Statisctics***************/


/**************Start Skills***************/
.our-skills{
    padding-top: 40px;
    padding-bottom: 70px;
}

.our-skills h1{
    margin-bottom: 60px;
}
.our-skills h3{
    font-weight: bold;
    margin-top: 0;
}

.our-skills .progress{
    height: 36px;

}
.our-skills .progress-bar{
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}
/**************End Skills***************/

/**************Start Contact Us***************/
.contact-us{
    background: url('../images/statistics.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    min-height:300px;
}

.contact-us .fields{
    background: rgba(9, 9, 9, 0.8);
    min-height: 300px;
    color: #DDD;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact-us p{
    margin-bottom: 40px;

}

.contact-us textarea{
    height: 108px;
}

.contact-us input[type="text"], .contact-us textarea{
    background: rgba(82, 78, 78, 0.7);
    color: #FFF;
    border: none;
}
/**************End Contact Us***************/

/**************Start Our Clients***************/
.our-clients{
    background:#EEE;
    padding-top: 20px;
    padding-bottom: 20px;
}

.our-clients img{
    opacity: 0.4;
    filter: alpha(opacity=40);
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.our-clients img:hover{
    opacity: 1;
}
/**************End our clients***************/

/**************Start Footer***************/
.footer{
    background: #111;
    color:#AAA;
    padding-top: 10px;
}
.footer .row {width:100%}
.footer a{color:#AAA}

.footer a:hover{color:#FFF}

.footer h3{
    letter-spacing: 1px;
    margin: 30px 0 20px;
}

.footer .three-columns{
    overflow: hidden;
}

.footer .three-columns li{
    width: 33.3333%;
    float: left;
    padding: 5px 0;
}

.footer .social-list{
    overflow: hidden;
    margin: 20px 0 10px;
}

.footer .social-list li{
    float: left;
    margin-right: 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.footer .social-list li:hover{
    opacity: 1;
}

.footer .img-thumbnail{
    background: rgba(0,0,0, 0.3);
    border: 1px solid #444;
    margin-bottom: 5px;
}

.footer .copyright{
    background: #333;
    color: #AAA;
    padding: 15px 0;
    margin-top: 30px;
    font-size: 18px;
}

/**************End Footer***************/
